:root {
    --image-witdh: 35%;
    --padding-content: 40px;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "NorseBold";
    src: url("fonts/Norse-Bold.otf");
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: 1;
    height: 100vh;
}

.description {
    padding: var(--padding-content);
    font-size: 20px;
    font-weight: 500;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    width: calc(100% - var(--image-witdh));
}

.signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding-left: var(--padding-content);
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

#register {
    background-color: white;
    padding: 0;
    margin: 0;
    padding-left: var(--padding-content);
    padding-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    margin-top: 2px;
}

input:focus {
    padding-left: 10px;
    outline: none;
    border: 1px solid RoyalBlue;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="password"]:invalid {
    border: 1px solid Crimson;
}

.input-group {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

a {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    width: 200px;
    height: 40px;
}

.backImg {
    width: var(--image-witdh);
    height: auto;
    object-fit: cover;
}

.credits {
    display: flex;
    width: var(--image-witdh);
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    font-weight: 300;
}

#loginText {
    font-weight: 500;
    color: #596D48;
}

.overlay {
    display: flex;
    width: var(--image-witdh);
    position: absolute;
    color: white;
    top: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.odinLogo {
    height: 120px;
}

.odinText {
    font-family: "NorseBold";
    font-size: 80px;
    font-weight: 100;
    margin: 0;
}