* {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-family: "Noto Serif", serif;
}

#main {
    height: 70vh;    
    /* background-image: url('./pastry.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#productH1 {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: yellow; */
}

h1 {    
    font-weight: 300;
}

img {
    width: 100px;
    opacity: 80%;    
}

#top {
    display: flex;

    /* when #welcome is active */
    /* border: 2px solid red; */    
    height: 60vh;
}

#productSweets {
    display: flex;
    flex-wrap: wrap;
}

#productItem {
    display: flex;    
    flex-direction: column;    
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    width: 30vw;
    background-color: white;
    h2 {
        font-weight: 300;
    }
}

#productImage {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    opacity: 100%;
}

#productCakes {
    display: flex;
    justify-content: center;
}

#productPage {    
    margin-top: 40px;
    /* display: flex; */
    /* justify-content: center;     */
    /* flex-direction: column; */
    /* padding: 40px; */
    margin-left: 5vw;    
    margin-right: 5vw;    
    /* margin-left: 100px; */    
    /* gap: 40px; */
    /* padding: 40px;     */
    /* border: 2px solid yellow; */
    /* height: 250px; */
    /* width: 90vw; */
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    h1 {
        margin-left: 40px;
        margin-top: 20px;
    }
}

#bottom {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    /* margin-left: 5vw; */
    gap: 120px;
    /* width: 90vw; */
    justify-content: center;    
}

#occasions {
    display: flex;
    min-height: 500px;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    min-width: 300px;
    max-width: 300px;
    /* width: 30vw; */
    background-color: #cfd9d7;
    color: white;
    border-radius: 10px;
}

#bakery {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;  
    min-height: 500px;
    min-width: 300px;
    background-image: url('./sweets.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#hours {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 30vw; */    
    min-width: 300px;
    max-width: 300px;
}

#welcome {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    padding: 40px;
    margin-left: 5vw;    
    /* margin-left: 100px; */
    margin-bottom: 100px;
    gap: 40px;
    /* padding: 40px;     */
    /* border: 2px solid yellow; */
    height: 250px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#contact {
    display: flex;
    /* justify-content: center;     */
    flex-direction: column;
    padding: 40px;
    margin-left: 5vw;    
    margin-right: 5vw;    
    /* margin-left: 100px; */
    margin-top: 100px;
    gap: 30px;
    /* padding: 40px;     */
    /* border: 2px solid yellow; */
    height: 40vh;
    /* width: 90vw; */
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    h2 {
        font-weight: 300;
    }
    div {
        p {
            font-size: 14px;
        }
    }
}


nav > button {
    background-color: transparent;
    border: none;
    /* font-weight: 100; */
    font-size: 22px;
    opacity: 60%;
}

nav > button:hover {
    opacity: 100%;
}

#content > div > div > button {
    background-color: transparent;
    font-size: 14px;
    /* text-align: left; */
    border: none;    
    width: 90px;
    font-weight: 300;
    hr {
        opacity: 50%;
        margin-top: 10px;
    }    
}

#content > div > div > button:hover {
    opacity: 60%;
}

header {
    display: flex;    
    /* max-width: 1200px;     */
    width: 90vw;
    margin-left: 5vw;
    height: 120px;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgba(33, 35, 38, 0.4) 0px 20px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
}

header nav {        
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
}

header div {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    min-width: 10%;
    /* height: 100%; */
}


#break {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-right: 5vw;
    margin-left: 5vw;
    /* align-items: center; */
    background-color: white;
    /* border: 2px solid red; */
    margin-bottom: 10px;
}

footer {
    height: 80px;
}