:root {
    --right-gap: 40px;
    --left-gap: 40px;
    --header-bg: #24273a;
    --text-color: #cdd6f4;
    --sidebar-bg: #1e1e2e;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;    
}

html,
body {
    background-color: #292c3c;
}

.container {
    padding-left: 70px;
}

.maincontainer {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 350px) 1fr;
    grid-template-rows: 100px 1fr;
}

.sidebar {
    padding: 20px;
    background-color: var(--sidebar-bg);
    display: flex;
    justify-content: center;
    gap: 60px;
}


.sidebarLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
}

.sidebarLogoSvg {
    height: 30px;
    fill: var(--text-color);
}

.content {
    grid-area: 2 / 1 / 2 / 3;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.booksHeader {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    min-height: 250px;
    min-width: 400px;
    border-left: 8px solid #7f849c;
    background-color: var(--header-bg);
    box-shadow: 2px 2px 10px var(--sidebar-bg);
    border-radius: 10px;
}

.card img {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: -15px;
    right: -320px;
    background-color: #5b6078;
    border-radius: 20px;
    border: 5px solid #5b6078;
}

.card .delete {
    border: 5px solid #5b6078;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: -65px;
    right: -370px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    background-color: #5b6078;
    border-radius: 20px;
}

.projectsCard .cardButtons {
    display: flex;
    gap: 16px;
    justify-content: right;
}

.header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(80px 1fr) minmax(80px 1fr);
}

.headerSearch {
    padding-left: var(--left-gap);
    padding-right: var(--right-gap);
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--header-bg);
    gap: 20px;
}

.headerSearch div {
    display: flex;
    width: 100%;
}

.headerSearch form {
    display: flex;
    width: 90%;
}

.headerSearch input[type="text"] {
    padding-left: 20px;
    margin-right: 20px;
    flex: 1;
    height: 36px;
    min-width: 250px;
    border-radius: 20px;
    border: none;
    background-color: var(--sidebar-bg);
}

.headerSearchSvg {
    height: 26px;
    fill: var(--text-color);
}

.headerAccount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--header-bg);
    gap: 30px;
    padding-right: var(--right-gap);
}

.headerAccount svg {
    height: 26px;
    fill: var(--text-color);
}

.headerAccount img {
    width: 36px;
    padding: 5px;
    border-radius: 50%;
}

.read-checked {
    border-left: 8px solid #a6da95;
}

.headerWelcome {
    display: flex;
    align-items: center;
    background-color: var(--header-bg);
    font-size: 14px;
    gap: 20px;
    padding-left: var(--left-gap);
}

.headerWelcome img {
    height: 60px;
    padding: 5px;
    border-radius: 50%;
}

.headerButtons {
    padding-inline: 20px;
    padding-right: var(--right-gap);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background-color: var(--header-bg);
}

.headerButtons button {
    flex: 1;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    background-color: #5b6078;
    height: 40px;
    min-width: 80px;
    max-width: 120px;
    border-radius: 20px;
}

.sidebar li:hover {
    color: white;
    svg {
        fill: white;
    }
}

button:hover {
    outline: 4px solid #6e7387;
}

img:hover {
    outline: 4px solid #6e7387;
}

.headerSearchSvg:hover,
.headerAccount svg:hover,
.cardButtons svg:hover {
    fill: white;
}

.headerSearch input[type="text"]:focus {
    border: none;
    outline: 4px solid #6e7387;
}

.edit-icon {
    width: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--header-bg);
    margin: auto;
    padding: 5px 5px 5px 20px;
    width: 350px;
    border-radius: 10px;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    width: 30px;
    height: 30px;    
    background-color: #5b6078;
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
}

.close:hover,
.close:focus {
    outline: 4px solid #6e7387;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-title {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-form {
    padding-top: 5px;
}

.modal-form-input {
    border: 0;
    margin-left: auto;
    margin-right: 10%;
    background-color: var(--sidebar-bg);
    padding: 10px 30px;
    outline-color: var(--blue-1);
    border-radius: 5px;
}

.modal-form-input:focus {    
    border: none;
    outline: 4px solid #6e7387;
}

.modal-input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding-bottom: 20px;
}

.card .delete:hover {
    background-color: #f38ba8;
    border-color: #f38ba8;
    outline-color: #f38ba8;
    color: black;
}

.submit-modal-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    border-radius: 15px;
    outline: 5px solid #5b6078;
    background-color: #5b6078;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}