body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

div {
    border-radius: 10px;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#gameButtons {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 10px;
    border: #313244 solid 5px;
    padding: 20px 60px;
    margin: 20px;
    background-color: #313244;
    outline: none;
    border-color: #45475a;
    text-transform: uppercase;
    color: #cdd6f4;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #45475a;
    border-color: #585b70;
}

button:active {
    background-color: #11111b;
    border-color: #11111b;
}

.emoji {
    font-size: 50px;
}